h1 {
	color:pink;
	font-family:'freestyle script'; 
}





#titel {
	color:pink;
	font-family:'freestyle script'; 
	text-align:center;
	font-size: 70pt;
}
#heyyy {
	color:pink;
	font-family:'freestyle script';
	font-size: 30pt; 
}


body {
	background-color:INDIANRED;
}
